extends base.pug


block content 
    h4 Update Video
    form(method="POST") 
        input(name="title",placeholder="Video Title", value=video.title, required)
        input(type="text" minlength=20 name="description" placeholder="Description" required, value=video.description)
        input(type="text" name="hashtags" placeholder="Hashtags, separated by comma." required, value=video.hashtags.join())
        input(type="submit",value="Save")